<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Chun-Huang Lin</title>

        <!-- my css-->
        <link rel="stylesheet" type="text/css" href="style.css">

        <!-- bootstrap css-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

        <!-- p5.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.5.0/p5.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.5.0/addons/p5.sound.min.js"></script>

        <!-- vue3 -->
        <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.45/vue.global.js' integrity='sha512-boEFRnFthrf+bNt2FkCFAjd809yT4B9R5Kr1eTROVLdzT79sgQanuKUhu/R7eDHmWL8IcjHIkxjdEVvvP6DLMA==' crossorigin='anonymous'></script>

        <script src="mycanvas01.js"></script>
       
        <meta charset="utf-8" />
        

    </head>

    <body>
        <div class="container-fluid">
            
<!-- title -->
            <div class="row mt-5">
                <div class="col">
                    <div class="Title">
                        <div class="card">
                            <div class="card-header">
                                <h2 > {{ Header.title }} </h2>
                            </div>
            
                            <div class="card-body">
                                <div class="row g-5">
                                    <div class="col
                                        col-xs-12
                                        col-sm-12 
                                        col-md-4
                                        col-lg-4
                                        col-xl-4">
                                        <div class="item">
                                            <div id="mycanvas01"></div>
                                        </div>
                                    </div>

                                    <div class="col
                                        col-xs-12
                                        col-sm-12 
                                        col-md-8
                                        col-lg-8
                                        col-xl-8">
                                        <div class="item p-md-5">

                                            <h5 class="card-title">About</h5>
                                            <p class="card-text"> {{ Header.about }} </p>

                                            <h5 class="card-title">CV</h5>
                                            <li v-for="item in Header.cv">{{item}}</li>

                                            <button type="button" class="btn btn-light mt-5">LinkTree</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


<!-- first card -->
            <div class="row
            mt-5 //margin top 
            g-5  //grid align
            row-cols-xs-1 
            row-cols-sm-1
            row-cols-md-2 
            row-cols-lg-4 
            row-cols-xl-4 
            row-cols-xs-vh-10
            row-cols-sm-vh-10
            row-cols-md-vh-10
            row-cols-lg-vh-10
            row-cols-xl-vh-10
            justify-content-center">
                
                <div class="col-xs">
                    <div class="item">
                        <div class="card">
                            <img :src="Card1.image" class="w-10 card-img">
                            <div class="d-flex card-img-overlay justify-content-center align-items-center pt-5">
                                <p class="fs-1 fw-bold text-light opacity-90">{{ Card1.title }}</p>
                            </div>

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item" v-for="item in Card1.item" > {{ item }} </li>
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="col-xs">
                    <div class="item">
                        <div class="card">
                            <img :src="Card2.image" class="w-10 card-img">
                            <div class="d-flex card-img-overlay justify-content-center align-items-center pt-5">
                                <p class="fs-1 fw-bold text-light opacity-90">{{ Card2.title }}</p>
                            </div>

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item" v-for="item in Card2.item" > {{ item }} </li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                
                <div class="col-xs">
                    <div class="item">
                        <div class="card">
                            <img :src="Card3.image" class="w-10 card-img">
                            <div class="d-flex card-img-overlay justify-content-center align-items-center pt-5">
                                <p class="fs-1 fw-bold text-light opacity-90">{{ Card3.title }}</p>
                            </div>

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item" v-for="item in Card3.item" > {{ item }} </li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                
                <div class="col-xs">
                    <div class="item">
                        <div class="card">
                            <img :src="Card4.image" class=" w-10 card-img">
                            <div class="d-flex card-img-overlay justify-content-center align-items-center pt-5">
                                <p class="fs-1 fw-bold text-light opacity-90">{{ Card4.title }}</p>
                            </div>

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item" v-for="item in Card4.item" > {{ item }} </li>
                            </ul>
                        </div>
                    </div>
                </div>


<!-- canvas -->

        </script>
            <div class="row 
                mt-2 
                g-5
                justify-content-center">

                <div class="col-12">
                    <div class="item">
                        <div id="canvasForHTML"></div>
                    </div>
                </div>
            </div>

<!-- vue3 -->
            <script src="index.js"></script>

        </div>
    </body>
</html>
